.cadastro-surface {
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80vw;
    height: 70vh;
    margin: auto;
    margin-top: 1rem;

    border-radius: 8px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.cadastro-surface h2 {
    font-family: Inter;
    color: white;
}

.cadastro-surface input:focus{
    color: rgb(18, 70, 182);
    outline: none;
}

.form * {
    width: 80%;
}

.input-text-surface {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;
}

.input-padrao,
.cadastro-surface button {
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.cadastro-buttons-surface {
    display: flex;
    flex-direction: row;

    gap: 0.2rem;
}

.cadastro-surface button:hover{
    color: white;
    background-color: rgba(18, 70, 182, 0.788);
}

select {
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    padding: 5px;

    border: none;
    border-radius: 8px;
}

select:focus{
    outline: none;
}

.radio input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;
    display: inline-block;
    border: 2px solid rgb(18, 70, 182);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    transition: 0.2s;
}


.radio input:checked+.checkmark {
    background-color: rgb(18, 70, 182);
    box-shadow: inset 0 0 0 3px white;
}

.radio {
    font-family: Inter;
    color: white;
    font-weight: bolder;

    cursor: pointer;
    font-size: 16px;
    user-select: none;
    display: flex;
    align-items: center;
    margin: 6px 0;
}
