.formulario-surface{
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    gap: 0.5rem;
    width: 65vw;
    
    margin: auto;
    margin-top: 1rem;

    border-radius: 8px;
}

.formulario-surface *{
    font-family: Inter;
    color: white;
    outline: none;
}

.formulario-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.input-texto{
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 50px;
    border: none;
    padding: 8px;
    transition: all 250ms ease-in-out;
}

.text-area{
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 8px;
    border: none;
    padding: 8px;
    transition: all 250ms ease-in-out;
}

select {
    font-family: Inter;
    font-weight: bolder;

    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    padding: 5px;

    border: none;
    border-radius: 8px;
}



.select{
    color: rgb(18, 70, 182);
}

.select-option{
    background-color: rgb(20, 63, 119);
}

select:focus{
    outline: none;
}

.radio input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;
    display: inline-block;
    border: 2px solid rgb(18, 70, 182);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    transition: 0.2s;
}

.radio input:checked+.checkmark {
    background-color: rgb(18, 70, 182);
    box-shadow: inset 0 0 0 3px white;
}

.radio {
    font-family: Inter;
    color: white;
    font-weight: bolder;

    cursor: pointer;
    font-size: 16px;
    user-select: none;
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.input-number{
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;
    max-width: 150px;

    border-radius: 50px;
    border: none;
    padding: 8px;
    transition: all 250ms ease-in-out;
}

.submit-button{
    font-weight: bolder;
    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}