.Torneio-Title{
    font-family: Inter;
    color: rgb(18, 70, 182);
}

.menu-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.menu-options button{
    font-family: Inter;

    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 1px 1px 19px 2px #0000005e;
    border-radius: 8px;

    font-size: 14pt;

    border: none;
    cursor: pointer;
}

.option-target{
    color: white;
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    
    font-weight: bold;
    border-bottom: rgba(255, 255, 255, 0.288) 2px solid;
}

.formulario{
    font-family: Inter;
    margin: 0px;
    color: white;
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 2px #0000005e;

    border-radius: 8px;
    padding: 8px;

    display: flex;
    flex-direction: column;
}

.radio input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;
    display: inline-block;
    border: 2px solid rgb(18, 70, 182);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    transition: 0.2s;
}

.radio input:checked+.checkmark {
    background-color: rgb(18, 70, 182);
    box-shadow: inset 0 0 0 3px white;
}

.radio {
    font-family: Inter;
    color: white;
    font-weight: bolder;

    cursor: pointer;
    font-size: 16px;
    user-select: none;
    display: flex;
    align-items: center;
    margin: 6px 0;
}