.main-section{
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    
    width: 80vw; height: 50vh;
    margin: auto;
    margin-top: 1rem;

    border-radius: 8px;
}

.main-section-text{
    font-family: Inter;
    color: white;
    padding: 1rem;
}

.main-section img{
    width: 30rem;
}

.main-button{
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.main-button:hover{
    color: white;
    background-color: rgba(18, 70, 182, 0.788);
}