.login-surface{
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
    width: 80vw; height: 50vh;
    margin: auto;
    margin-top: 1rem;

    border-radius: 8px;
}

.login-surface *{
    width: 80%;
}

.login-surface h2{
    font-family: Inter;
    color: white;
}

.login-inputs-surface{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;
}

.login-surface input, .login-surface button{
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}


.login-surface button:hover{
    color: white;
    background-color: rgba(18, 70, 182, 0.788);
}

.login-surface input:focus{
    color: rgb(18, 70, 182);
    outline: none;
}

.login-buttons-surface{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 0.2rem;
}
