#BoasVindas{
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;
    
    margin: 10px 0px;
    border-radius: 8px;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    width: 90vw;
}

#BoasVindas h1{
    font-family: Inter;
    color: white;
    font-weight: bolder;
}

.avatar{
    font-family: Inter;
    color: white;
    font-weight: bolder;

    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #0000006b;

    border: rgba(255, 255, 255, 0.514) 4px solid;
    border-bottom: rgba(255, 255, 255, 0.171) 4px solid;
    border-radius: 50%;

    text-align: center;
    text-transform: uppercase;
    width: 1rem; height: 1rem;
    
    padding: 1rem;
    cursor: pointer;
}
.avatar:hover{
    border-left: rgba(255, 255, 255, 0.171) 4px solid;
    border-right: rgba(255, 255, 255, 0.171) 4px solid;
    background-image: linear-gradient(rgba(20, 49, 145, 0.925), rgba(7, 35, 112, 0.911));
}

.secao-padrao{
    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;
    width: 90vw;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 8px;
}

.secao-padrao h2, .torneio-dados h3{
    font-family: Inter;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.torneio{
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 1px 1px 19px 5px #0000005e;

    border-radius: 8px;
    padding: 8px;
    margin: 5px;

    display: flex;
    flex-direction: row;
}

.torneio img{
    border-radius: 8px;
    box-shadow: 1px 1px 19px 5px #0000002a;
    
    border: rgba(255, 255, 255, 0.514) 4px solid;
    border-bottom: rgba(255, 255, 255, 0.171) 4px solid;

    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.torneio *{
    width: 100%;
    text-align: center;
}

.torneio-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.torneio-dados *{
    width: 50%;
}

.torneio-dados p{
    font-family: Inter;
    color: white;
}

.torneio-dados button{
    font-family: Inter;
    color: white;

    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 1px 1px 19px 5px #0000005e;

    margin-top: 0.1rem;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Criacao button:hover,
.torneio-dados button:hover{
    color: white;
    background-color: rgba(18, 70, 182, 0.788);
}

#Criacao button{
    font-family: Inter;
    color: white;

    font-family: Inter;
    font-weight: bolder;

    background-image: linear-gradient(rgba(31, 73, 211, 0.925), rgba(13, 59, 187, 0.911));
    box-shadow: 1px 1px 19px 5px #000000a2;

    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}