#BoasVindas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.torneio{
    width: 95vw;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: 5px;

    display: flex;
    flex-direction: row;
}

.torneio img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.torneio *{
    width: 100%;
    text-align: center;
}

.torneio-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.torneio-dados *{
    width: 50%;
}

.avatar{
    color: white;
    background-color: rgb(16, 91, 114);
    border: rgb(8, 47, 59) 4px solid;
    width: 1rem; height: 1rem;
    border-radius: 50%;
    padding: 1rem;
}