.popup{
    position: absolute;
    z-index: 2;

    background-image: linear-gradient(rgba(46, 88, 228, 0.966), rgba(27, 73, 199, 0.959));
    box-shadow: 1px 1px 19px 5px #000000a2;
    border-radius: 8px;
    

    width: 60vw; height: 50vh;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 250ms ease-in-out;
}

.popup h1{
    font-family: Inter;
    color: white;
}

.popup p{
    font-family: Inter;
    color: white;
}

.popup button{
    width: 80%;
    font-family: Inter;
    font-weight: bolder;

    color: rgb(18, 70, 182);
    background-color: rgba(255, 255, 255, 0.699);
    box-shadow: 1px 1px 19px 5px #00000085;

    border-radius: 50px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}